      </div><!-- /p-4 md:p-6 -->
    </main><!-- /main#content -->

    <div id="toaster" class="toaster"></div>

    <% if (typeof pageScript !== 'undefined' && pageScript) { %>
      <script src="<%= pageScript %>" defer></script>
    <% } %>
  </body>
</html>
