      </div>
    </main>

    <div id="toaster" class="toaster"></div>

    <% if (typeof pageScript !== 'undefined' && pageScript) { %>
      <script src="<%= pageScript %>" defer></script>
    <% } %>
  </body>
</html>
